In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\Internship\Task\Task1\data\Mall_Customers.csv")

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\Abhijit\AppData\Local\Temp\ipykernel_26836\2306654524.py:1: SyntaxWarning: invalid escape sequence '\I'
  df = pd.read_csv("C:\Internship\Task\Task1\data\Mall_Customers.csv")

In [3]:
df.sample(5)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
47           48  Female   27                  40                      47
181         182  Female   32                  97                      86
3             4  Female   23                  16                      77
88           89  Female   34                  58                      60
39           40  Female   20                  37                      75

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [13]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [7]:
df.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_').str.replace('(','').str.replace(')','')

In [9]:
df['gender'] = df['gender'].map({'Male':0, 'Female':1})

In [10]:
for col in ['age', 'annual_income_k$', 'spending_score_1-100']:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    df[col] = df[col].clip(lower=lower_bound, upper=upper_bound)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customerid            200 non-null    int64
 1   gender                200 non-null    int64
 2   age                   200 non-null    int64
 3   annual_income_k$      200 non-null    float64
 4   spending_score_1-100  200 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 7.9 KB

In [12]:
df.describe()

,customerid,gender,age,annual_income_k$,spending_score_1-100
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.560000,38.850000,60.517500,50.200000
std,57.879185,0.497633,13.969007,26.143551,25.823522
min,1.000000,0.000000,18.000000,15.000000,1.000000
25%,50.750000,0.000000,28.750000,41.500000,34.750000
50%,100.500000,1.000000,36.000000,61.500000,50.000000
75%,150.250000,1.000000,49.000000,78.000000,73.000000
max,200.000000,1.000000,70.000000,132.750000,99.000000