In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Internship\Task\Task1\data\Netflix_movies_and_tv_shows_clustering.csv")

In [6]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5334,s5335,Movie,Sadece Sen,Hakan Yonat,"Belçim Bilgin, İbrahim Çelikkol, Kerem Can, Ne...",Turkey,"March 10, 2017",2014,TV-MA,105 min,"Dramas, International Movies, Romantic Movies",An ex-boxer falls in love with a blind woman a...
722,s723,Movie,Bangkok Hell,Manop Janjarasskul,"Chalad Na Songkhla, Sahatchai 'Stop' Chumrum, ...",Thailand,"September 14, 2018",2002,TV-MA,107 min,"Dramas, International Movies",When offered a deal to snitch on fellow prison...
151,s152,Movie,A Boy Called Po,John Asher,"Christopher Gorham, Julian Feder, Kaitlin Doub...",United States,"January 15, 2018",2016,PG,94 min,"Dramas, Sci-Fi & Fantasy","After his wife's death, an overworked engineer..."
3445,s3446,Movie,Krish Trish and Baltiboy: Battle of Wits,"Munjal Shroff, Tilak Shetty","Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,62 min,Children & Family Movies,"An artisan is cheated of his payment, a lion o..."
5663,s5664,TV Show,Sleepless Society: Insomnia,"Pantham Thongsang, Cheewatan Pusitsuksa","Chutimon Chuengcharoensukying, Sutthirak Subvi...",Thailand,"February 13, 2020",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","Haunted by recurring visions, a young woman wi..."

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [9]:
df["date_added"] = pd.to_datetime(df["date_added"], errors="coerce")

In [10]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        98
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [11]:
for col in ["director", "cast", "country", "rating"]:
    df[col] = df[col].fillna("Unknown")

In [12]:
df["date_added"] = df["date_added"].fillna(pd.Timestamp("2000-01-01"))

In [13]:
df["duration_type"] = df["duration"].apply(lambda x: "Season(s)" if "Season" in x else "Minutes")
df["duration_int"] = df["duration"].str.extract('(\d+)').astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Abhijit\AppData\Local\Temp\ipykernel_23960\3665044662.py:2: SyntaxWarning: invalid escape sequence '\d'
  df["duration_int"] = df["duration"].str.extract('(\d+)').astype(float)

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df.reset_index(drop=True, inplace=True)